.card {
    width: 30%;
    margin: 15px;
    padding: 5px;
    box-shadow: 5px 5px 5px #74926b;
    border-color: #495d43;
    background-color: #eeedde;
   
}

.card-body{
    padding: 0px;
}

.card-img-top {
    height: 200px;
    width: 90%;
    align-self: center;
    transform: translateY(-1rem);
    border-radius: 5px;
}
.card-text-title{
    font-size: 20px;
    font-weight:bold;
    text-align: center;
    padding: 2px;
}

.card-text-description{
    text-align: center;
}
 

.accordion-button{
    width: 100%;
    background-color:#92b488 ;
    border-color: #6d9262;
    color: rgb(20, 17, 17);
    
}

.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed {
    border-radius: 10px;
    
}

.accordion{
    --bs-accordion-bg: none;
}

.accordion-button {
    color: var(--bs-accordion-active-color);
    background-color: #92b488 ;
   
}


.button-vermas:hover{
    background-color: #769b6a;
}

