.contacto {
    background-color: #495d43;
    margin-bottom: 2px;
    /* flex-wrap: wrap; */
}

.redes {
    margin: 30px;
    padding: 20px;
    border-right: solid white 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.bi{
    color: white;
    font-size: 30px;
    margin: 10px;
}

.formulario{
    text-align: center;
    margin:30px;
    color:white;
    width: 45rem;
}

.formulario input{
    background-color: rgb(238, 231, 231);
}

.formulario textarea{
    background-color: rgb(238, 231, 231);
}

h4 {
    margin-bottom:30px;
}

.btnContacto{
    background-color: #BBDEB1;
    border: #BBDEB1;
    color: #495d43;
    width: 150px;
}

.btnContacto:hover {
    background-color: #8ba384;
}

.mapa{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 35%;
   height: auto;
   
   & iframe{
    width: 100%;
   }
}

@media screen and (max-width: 769px){
    .redes {
        display: flex;
        flex-direction: row;
        border-bottom: solid white 2px;
        border-right: 0px;

    }

    .contacto {
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mapa {
        width: 80%;
        margin: 5px;
    }
}