.contacto {
    background-color: #495d43;
    margin-bottom: 2px;
    /* flex-wrap: wrap; */
}

.redes {
    margin: 30px;
    padding: 20px;
    border-right: solid white 2px;
    
}
.bi{
    color: white;
    font-size: 30px;
    margin: 10px;
}

.formulario{
    margin:30px;
    color:white;
    width: 45rem;
}

.formulario input{
    background-color: rgb(238, 231, 231);
}

.formulario textarea{
    background-color: rgb(238, 231, 231);
}

h4 {
    margin-bottom:30px;
}

.btnContacto{
    background-color: #BBDEB1;
    border: #BBDEB1;
    color: #495d43;
    width: 150px;
}

.btnContacto:hover {
    background-color: #8ba384;
}

.mapa{
   display: flex;
   justify-content: center;
   align-items: center;
   
   & iframe{
    width: 100%;
   }
}

