.divTitulo{
    justify-content: center;
}
.emergenciaContainer{
    justify-content: center;
}

.imgEmergencia{
    width: 100px;
    height: 100px;
}

.tituloEmergencia{
    text-align: center;
    font-size: 25px;   
    color: #495D43;
    justify-content: center;
    
}
.containerImgP{
    padding: 70px;    
}

.pImg{
    margin-left: 15px;
}

.numero{
    margin-left: 20px;
}

.numeroBomberos{
    margin-left: 47px;
    
}

.imgBomberos{
    margin-left: 10px;
}

@media screen and (max-width: 376px) {
    .containerImgP{
        padding: 1rem ;    
    }
}