.emergenciaContainer{
    width: 50%;
    margin-bottom: 40px;
}

.img-emergencia{
    width: 100px;
    height: 100px;
  
   
}
.container-titulo-emergencia{
    justify-content: center;
    margin-bottom: -40px;
   margin-top: -30px;
   
}
.titulo-emergencia{
    text-align: center;
    font-size: 25px;   
    color: #495D43;
    justify-content: center;
    
}

.p-numero-emergencia{
    font-weight: bold;
}


