.emergenciaContainer{
    justify-content: center;
    margin-left: 25px;
    margin-bottom: -70px;
    
}

.img-emergencia{
    width: 100px;
    height: 100px;
  
   
}
.container-titulo-emergencia{
    justify-content: center;
    margin-bottom: -40px;
   margin-top: -30px;
   
}
.titulo-emergencia{
    text-align: center;
    font-size: 25px;   
    color: #495D43;
    justify-content: center;
    
}
.container-img-p{
    padding: 70px;
    
}

.p-hospital{
    margin-left: 15px;
}
.numero-hospital{
    margin-left: 20px;
}
.p-policia{
    margin-left: 15px;
    
}

.numero-policia{
    margin-left: 20px;
}

.p-bomberos{
    margin-left: 15px;
}

.numero-bomberos{
    margin-left: 47px;
    
}

.img-bomberos{
    margin-left: 10px;
}

