.filter {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.contenedor {
    background-color: #495D43;
    height: auto;

    & a {
        & i {
            margin: 0;
            font-size: 20px;
        }
    }
}

.labelBuscador {
    color: white;
    outline: 0;
}

.selector {
    height: 25px;
    background-color: #EEEDDE;
    outline: 0;
    margin: 15px 10px;
    border: none;
    border-collapse: collapse;
    border-radius: 5px;
}

select option {
    color: black;
    background-color: #EEEDDE;
}

i{
    font-size: 39px;
}
