.contenedor {
    display: flex;
    justify-content: space-around;
    background-color: #495D43;
    height: 0 auto;
    
    
}

.fondoBuscadores {
    background-color: #778E70;
}

.buscador{
    padding: 5px;
    color: white;
    outline: 0;
    border: 1.5px;
    border-radius: 5px;
    border-collapse: collapse;
    text-align: center;
}

.selector{
    padding: 5px 15px;
    color: white;
    outline: 0;
    margin: 20px;
    border: 1.5px;
    border-collapse: collapse;
    border-radius: 5px;
}

#letraBuscador::placeholder {
    color:white;
  }

  select option {
    background-color: #EEEDDE;
    color: black;
}

