@import url('https://fonts.googleapis.com/css2?family=Allura&family=Inter:wght@200;300&family=Lobster&family=Nunito:wght@300&family=Satisfy&display=swap');

.containerPortada {
    max-width: 100%;
    margin: 15px auto
}

.imgPortada {
    max-width: 100%;
    height: auto;
}

.tituloPortada {
    font-family: 'Allura', cursive;
    font-size: 80px;
    text-align: center;
    color: #262d23;
}

@media screen and (max-width: 376px){
    .tituloPortada{
        font-size: 32px;
    }
}