
.menu{
    background-color:#495d43;
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-style: solid ;
    border-top-color: white;
    border-bottom-style: solid ;
    border-bottom-color: white;
    margin-bottom: 20px;
 
}

.menu .items{
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    /*margin-left: 500px ;*/
}



.menu .items .links{
    padding: 7px 13px;
    text-decoration: none ;
    font-size: 18px;
    display: block;
    color: white ;
    text-align: center;
    
}

