.fade{
   background-color: #a9aba921 ;
}

.modal-content{
    border: none;
}

.modal{
    --bs-modal-margin: 6rem;
}

.botonAceptar{
    background-color: #6d9262;
    --bs-btn-border-color: #6d9262;
    --bs-btn-hover-border-color: #6d9262;
    --bs-btn-hover-bg: #6d9262;
    transition: 0.3s;
    color: white;
}

.botonAceptar:hover{
    box-shadow: 2px 2px 8px black;
}

.botonCancelar{
    transition: 0.3s;
    color: rgba(0, 0, 0, 0.7);
}

.botonCancelar:hover{
    box-shadow: 2px 2px 8px black;
}

element.style{
    display: none;
}