.contenedor {
    display: flex;
    justify-content: space-around;
    background-color: #495D43;
    height: 60px;


}

.fondoBuscadores {
    background-color: #778E70;
    height: 0 auto;
    width: 0 auto;
}

.buscador {
    color: white;
    outline: 0;
    border: 1.5px;
    border-radius: 5px;
    border-collapse: collapse;
    text-align: center;
}

.selector {

    outline: 0;
    margin: 20px;
    border: 1.5px;
    border-collapse: collapse;
    border-radius: 5px;

}


#letraBuscador::placeholder {
    color: white;
}

select option {
    color: black;
    background-color: #EEEDDE;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    background-color: #495D43;
    height: 70px;


}

.buscador {
    color: white;
    outline: 0;
}

.selector {
    outline: 0;
    margin: 20px;
    border: 1.5px;
    border-collapse: collapse;
    border-radius: 5px;
}


#letraBuscador::placeholder {
    color: white;
}

select option {
    color: black;
    background-color: #EEEDDE;
}

/* boton de busqueda */
.buscar {
    padding: 5px;
    position: relative;
    padding: 10px
}

.buscar input {
    width: 0;
    height: 30px;
    padding: 0px 20px;
    font-size: 18px;
    color: black;
    outline: none;
    border: 0px solid;
    border-radius: 20px;
    transition: all 0.6s ease;
}

.btn {
    position: absolute;
    width: 55px;
    height: 50px;
    line-height: 35px;
    top: 0;
    right: 0;
    background-color: #6c965f;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.buscar:hover input {
    width: 240px;
}

.buscar input:focus {
    width: 240px;
}