.contenedor {
    display: flex;
    justify-content: center;
    background-color: #495D43;
    height: 70px;
    text-align: center;
}

.label-filtro {
    color: white;
}

.selector {
    height: 25px;
    background-color: #EEEDDE;
    outline: 0;
    margin: 20px;
    border: 1.5px;
    border-collapse: collapse;
    border-radius: 5px;
}


#letraBuscador::placeholder {
    color: black;
}

select option {
    color: black;
    background-color: #EEEDDE;
}


.buscar {
    padding: 5px;
    position: relative;
    padding: 10px
}





